.infinite-list {
    width: 150px;
    border: 1px solid black;
    overflow-y: scroll;
}

.type-foo::before {
    content: 'foo';
    color: pink;
}

.type-bar::before {
    content: 'bar';
    color: lightgreen;
}
