<div style="height: {{view.contentHeight}}px">
    <div style="height: {{view.topPadding}}px"></div>
    {{#each visibleItems key="key" as |item|}}
        {{render "infinite-list-item" item}}
    {{/each}}
</div>
